.search,
.search-results {
    width: 361px;
}

.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.08);
    border-radius: var(--search-boder-radius);
    border: 1px solid transparent;
    caret-color: var(--light);
    display: flex;
    input {
        color: var(--black);
        font-size: 1.6rem;
        font-family: var(--font-family);

        height: 100%;
        background-color: transparent;

        flex: 1;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: aqua;
    }

    &::after {
        content: '';
        width: 1px;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        position: absolute;
        background-color: var(--light);
    }
    &:focus-within {
        border-color: var(--light);
    }
}

.search-title {
    display: flex;
    align-items: center;
    // justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.clear,
.loading {
    background-color: transparent;
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--light);
}

.loading {
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 1.8rem;
    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }
    color: var(--light);
    &:active {
        background-color: rgba(22, 24, 35, 0.1);
    }
}
